<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
  </head>
  <body class="p-3 mb-2 bg-dark text-white">
	<div class="container">
		<br><br>
		<div class="row">
			<div class="col" align="left">
				<h3>Top 5 songs</h3>
			</div>
			<div class="col" align="right">
				<a href="addsong" class="btn btn-secondary" role="button" aria-disabled="true">+ Add songs</a>
			</div>
		</div>
		<br>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Position</th>
					<th scope="col">Artwork</th>
					<th scope="col">Song Name</th>
					<th scope="col">Date of Release</th>
					<th scope="col">Artist</th>
					<th scope="col">Rate</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td><img src="https://upload.wikimedia.org/wikipedia/en/0/0e/Macklemore_-_Thrift_Shop.jpg" class="h-25"></td>
					<td>Thrift shop</td>
					<td>27 AUG,2012</td>
					<td>Macklemore , Ryan lewis , Wanz</td>
					<td>
						<div class="demo">
							<div class="ratingControl">
								<input type="radio" id="rating-5" name="rating" value="5">
								<label class="ratingControl-stars ratingControl-stars--5" for="rating-5">5</label>
								<input type="radio" id="rating-45" name="rating" value="4.5">
								<label class="ratingControl-stars ratingControl-stars--45 ratingControl-stars--half" for="rating-45">45</label>
								<input type="radio" id="rating-4" name="rating" value="4">
								<label class="ratingControl-stars ratingControl-stars--4" for="rating-4">4</label>
								<input type="radio" id="rating-35" name="rating" value="3.5">
								<label class="ratingControl-stars ratingControl-stars--35 ratingControl-stars--half" for="rating-35">35</label>
								<input type="radio" id="rating-3" name="rating" value="3">
								<label class="ratingControl-stars ratingControl-stars--3" for="rating-3">3</label>
								<input type="radio" id="rating-25" name="rating" value="2.5">
								<label class="ratingControl-stars ratingControl-stars--25 ratingControl-stars--half" for="rating-25">25</label>
								<input type="radio" id="rating-2" name="rating" value="2">
								<label class="ratingControl-stars ratingControl-stars--2" for="rating-2">2</label>
								<input type="radio" id="rating-15" name="rating" value="1.5">
								<label class="ratingControl-stars ratingControl-stars--15 ratingControl-stars--half" for="rating-15">15</label>
								<input type="radio" id="rating-1" name="rating" value="1">
								<label class="ratingControl-stars ratingControl-stars--1" for="rating-1">1</label>
								<input type="radio" id="rating-05" name="rating" value="0.5">
								<label class="ratingControl-stars ratingControl-stars--05 ratingControl-stars--half" for="rating-05">05</label>
							</div>
						  </div>
					</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td><img src="https://i1.sndcdn.com/artworks-CjoQAI5WqEDPeX25-ClWH3Q-t500x500.jpg"></td>
					<td>New Thang</td>
					<td>4 AUG,2016</td>
					<td>Redfoo</td>
					<td>
						<div class="demo">
							<div class="ratingControl">
								<input type="radio" id="rating-5" name="rating" value="5">
								<label class="ratingControl-stars ratingControl-stars--5" for="rating-5">5</label>
								<input type="radio" id="rating-45" name="rating" value="4.5">
								<label class="ratingControl-stars ratingControl-stars--45 ratingControl-stars--half" for="rating-45">45</label>
								<input type="radio" id="rating-4" name="rating" value="4">
								<label class="ratingControl-stars ratingControl-stars--4" for="rating-4">4</label>
								<input type="radio" id="rating-35" name="rating" value="3.5">
								<label class="ratingControl-stars ratingControl-stars--35 ratingControl-stars--half" for="rating-35">35</label>
								<input type="radio" id="rating-3" name="rating" value="3">
								<label class="ratingControl-stars ratingControl-stars--3" for="rating-3">3</label>
								<input type="radio" id="rating-25" name="rating" value="2.5">
								<label class="ratingControl-stars ratingControl-stars--25 ratingControl-stars--half" for="rating-25">25</label>
								<input type="radio" id="rating-2" name="rating" value="2">
								<label class="ratingControl-stars ratingControl-stars--2" for="rating-2">2</label>
								<input type="radio" id="rating-15" name="rating" value="1.5">
								<label class="ratingControl-stars ratingControl-stars--15 ratingControl-stars--half" for="rating-15">15</label>
								<input type="radio" id="rating-1" name="rating" value="1">
								<label class="ratingControl-stars ratingControl-stars--1" for="rating-1">1</label>
								<input type="radio" id="rating-05" name="rating" value="0.5">
								<label class="ratingControl-stars ratingControl-stars--05 ratingControl-stars--half" for="rating-05">05</label>
							</div>
						  </div>
					</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td><img src="https://images.genius.com/180a17aff9c32bc547d36c46f5b83b49.640x640x1.jpg"></td>
					<td>Vainko</td>
					<td>27 NOV, 2019</td>
					<td>Brodha V , Jordindian</td>
					<td>
						<div class="demo">
							<div class="ratingControl">
								<input type="radio" id="rating-5" name="rating" value="5">
								<label class="ratingControl-stars ratingControl-stars--5" for="rating-5">5</label>
								<input type="radio" id="rating-45" name="rating" value="4.5">
								<label class="ratingControl-stars ratingControl-stars--45 ratingControl-stars--half" for="rating-45">45</label>
								<input type="radio" id="rating-4" name="rating" value="4">
								<label class="ratingControl-stars ratingControl-stars--4" for="rating-4">4</label>
								<input type="radio" id="rating-35" name="rating" value="3.5">
								<label class="ratingControl-stars ratingControl-stars--35 ratingControl-stars--half" for="rating-35">35</label>
								<input type="radio" id="rating-3" name="rating" value="3">
								<label class="ratingControl-stars ratingControl-stars--3" for="rating-3">3</label>
								<input type="radio" id="rating-25" name="rating" value="2.5">
								<label class="ratingControl-stars ratingControl-stars--25 ratingControl-stars--half" for="rating-25">25</label>
								<input type="radio" id="rating-2" name="rating" value="2">
								<label class="ratingControl-stars ratingControl-stars--2" for="rating-2">2</label>
								<input type="radio" id="rating-15" name="rating" value="1.5">
								<label class="ratingControl-stars ratingControl-stars--15 ratingControl-stars--half" for="rating-15">15</label>
								<input type="radio" id="rating-1" name="rating" value="1">
								<label class="ratingControl-stars ratingControl-stars--1" for="rating-1">1</label>
								<input type="radio" id="rating-05" name="rating" value="0.5">
								<label class="ratingControl-stars ratingControl-stars--05 ratingControl-stars--half" for="rating-05">05</label>
							</div>
						  </div>
					</td>
				</tr>
				<tr>
					<th scope="row">4</th>
					<td><img src="https://m.media-amazon.com/images/I/814htMhuuML._SX679_.jpg"></td>
					<td>Starboy</td>
					<td>25 NOV,2016</td>
					<td>Weeknd , Daft Punk</td>
					<td>
						<div class="demo">
							<div class="ratingControl">
								<input type="radio" id="rating-5" name="rating" value="5">
								<label class="ratingControl-stars ratingControl-stars--5" for="rating-5">5</label>
								<input type="radio" id="rating-45" name="rating" value="4.5">
								<label class="ratingControl-stars ratingControl-stars--45 ratingControl-stars--half" for="rating-45">45</label>
								<input type="radio" id="rating-4" name="rating" value="4">
								<label class="ratingControl-stars ratingControl-stars--4" for="rating-4">4</label>
								<input type="radio" id="rating-35" name="rating" value="3.5">
								<label class="ratingControl-stars ratingControl-stars--35 ratingControl-stars--half" for="rating-35">35</label>
								<input type="radio" id="rating-3" name="rating" value="3">
								<label class="ratingControl-stars ratingControl-stars--3" for="rating-3">3</label>
								<input type="radio" id="rating-25" name="rating" value="2.5">
								<label class="ratingControl-stars ratingControl-stars--25 ratingControl-stars--half" for="rating-25">25</label>
								<input type="radio" id="rating-2" name="rating" value="2">
								<label class="ratingControl-stars ratingControl-stars--2" for="rating-2">2</label>
								<input type="radio" id="rating-15" name="rating" value="1.5">
								<label class="ratingControl-stars ratingControl-stars--15 ratingControl-stars--half" for="rating-15">15</label>
								<input type="radio" id="rating-1" name="rating" value="1">
								<label class="ratingControl-stars ratingControl-stars--1" for="rating-1">1</label>
								<input type="radio" id="rating-05" name="rating" value="0.5">
								<label class="ratingControl-stars ratingControl-stars--05 ratingControl-stars--half" for="rating-05">05</label>
							</div>
						  </div>
					</td>
				</tr>
				<tr>
					<th scope="row">5</th>
					<td><img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/db/BTS_-_Butter.png/220px-BTS_-_Butter.png"></td>
					<td>Butter</td>
					<td>21 MAY,2021</td>
					<td>BTS</td>
					<td>
						<div class="demo">
							<div class="ratingControl">
								<input type="radio" id="rating-5" name="rating" value="5">
								<label class="ratingControl-stars ratingControl-stars--5" for="rating-5">5</label>
								<input type="radio" id="rating-45" name="rating" value="4.5">
								<label class="ratingControl-stars ratingControl-stars--45 ratingControl-stars--half" for="rating-45">45</label>
								<input type="radio" id="rating-4" name="rating" value="4">
								<label class="ratingControl-stars ratingControl-stars--4" for="rating-4">4</label>
								<input type="radio" id="rating-35" name="rating" value="3.5">
								<label class="ratingControl-stars ratingControl-stars--35 ratingControl-stars--half" for="rating-35">35</label>
								<input type="radio" id="rating-3" name="rating" value="3">
								<label class="ratingControl-stars ratingControl-stars--3" for="rating-3">3</label>
								<input type="radio" id="rating-25" name="rating" value="2.5">
								<label class="ratingControl-stars ratingControl-stars--25 ratingControl-stars--half" for="rating-25">25</label>
								<input type="radio" id="rating-2" name="rating" value="2">
								<label class="ratingControl-stars ratingControl-stars--2" for="rating-2">2</label>
								<input type="radio" id="rating-15" name="rating" value="1.5">
								<label class="ratingControl-stars ratingControl-stars--15 ratingControl-stars--half" for="rating-15">15</label>
								<input type="radio" id="rating-1" name="rating" value="1">
								<label class="ratingControl-stars ratingControl-stars--1" for="rating-1">1</label>
								<input type="radio" id="rating-05" name="rating" value="0.5">
								<label class="ratingControl-stars ratingControl-stars--05 ratingControl-stars--half" for="rating-05">05</label>
							</div>
						  </div>
					</td>
				</tr>
			</tbody>
		</table>
		<br><br>
		<div class="row">
			<div class="col" align="left">
				<h3>Top 5 Artist</h3>
			</div>
			<br>
			<table class="table table-bordered">
			  <thead>
				<tr>
				  <th scope="col">Position</th>
				  <th scope="col">Artist</th>
				  <th scope="col">Songs</th>
				</tr>
			  </thead>
			  <tbody>
					<tr>
						<th scope="row">1</th>
						<td>weeknd</td>
						<td>Starboy, Blinding lights ,often</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>maklemore,Ryan Lewis</td>
						<td>Thrift Shop,Can't hold us, Glorious</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Billie Eilish</td>
						<td>Lovely, bad guy </td>			
					</tr>
					<tr>
						<th scope="row">4</th>
						<td>Psy</td>
						<td>Daddy, Gangnam style, Gentle man</td>
					</tr>
					<tr>
						<th scope="row">5</th>
						<td>Bts</td>
						<td>Butter, Dynamite</td>
					</tr>
			  </tbody>
			</table>
		</div>
	</div>
	
	
	
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>